body {
    font-size: 1.15rem;
    line-height: 1.5;
    width: 40em;
    margin: 5rem 1rem 5rem 8rem;
    color:rgb(53, 53, 53);
}

p {
    margin: 1em 0em;
}

a:link {
    color: rgb(0, 89, 255);
}

a:hover, a:active {
    color: rgb(64, 131, 255);
}

a:visited {
    color: rgb(69, 102, 163);
}

h1 { 
    font-size: 2em;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 1.25em;
    margin-top: 2rem;
    margin-left: -5rem;
    margin: 2rem 0rem 1.5rem -5rem;
}

.homelink {
    font-family: Helvetica, Arial, sans-serif;
    color: #999;
    font-size: 0.8em;        
    line-height: 0.5;
    margin: 2rem 0rem 1.5rem -5rem;
}

h2 { 
    font-size: 1.3em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.25em;
    margin-top: 1.5em;
}

h3 {
    font-size: 1.125em;
    font-style: italic;
    margin-bottom: 0.25em;
    margin-top: 1.5em;
    font-weight: normal;
}

h4 {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0.25em;
    margin-top: 1.5em;
}

figure {
    margin: 2em 0 2em -5em;
    max-width: calc(100% + 5em);
}

figcaption {
    font-family: Helvetica, Arial, sans-serif;
    /* font-style: italic; */
    color: #999;
    font-size: 0.8em;
    margin-top: 0.25em;
}

img {
    max-width: 100%;
}

ul, ol {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.rule {
    height: 1px;
    background: rgb(0, 0, 0);
    margin: 4em 0em 1em 0em;
}

hr {
    display: none;
}

.footer {
    font-family: Helvetica, Arial, sans-serif;
    color: #999;
    font-size: 0.8em;    
    line-height: 0.5;
    text-align: right;
}