@font-face {
    font-family: Inter;
    src: url('/Inter-VariableFont_slnt,wght.ttf');
    font-display: swap;
} 

html {
    font-size: calc(15px + 0.390625vw);
}

body {
    font-family: Inter, Helvetica, sans-serif;
    margin: 2em 0em;
    color: #333;
    background-color: rgb(246,245,235);
    line-height: 1.25;
}

table {
    border: 0.1em solid #333;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    text-align: center;
}

td + td,
th + th { border-left: 0.1em solid #333; }
tr + tr { border-top: 0.1em solid #333; }

.header {
    /* font-size: 0.75rem; */
    /* margin-bottom: 4rem; */
}

.header a {
    color: #333;
    text-decoration: none;
}

.strike {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
    background-color: rgb(246,245,235);
}

.left-pad-1em {
    padding-left: 1em;
}

.right-pad-1em {
    padding-right: 1em;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 0.1em;
    background: #333;
    z-index: -1;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.header-site-name {
    text-align: left;
    background-color: white;
    padding: 0 10px 0 0;
    margin-right: 3em;
}

.header-section-title {
    margin-left: auto;
    margin-right: 3rem; /* Adjust as needed */
    background-color: white;
    padding: 0 10px;
}

img {
    width: 100%;
    height: auto;
}

.header-page-title {
    text-align: right;
    background-color: white;
    padding: 0 0 0 10px;
    font-weight: bold;
}

a {
    /* text-decoration: none; */
    /* color: #333; */
    /* color: rgb(243, 32, 96); */
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    margin: 2em auto;
    max-width: 40rem;
}

h1, h2 {
    font-size: 1rem;
    margin-top: 2rem;
}

h3 {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;

}

article {
    margin-bottom: 3rem; 
}

.journal-date {
    /* font-weight: bold; */
    color: lightgray;
    font-size: 0.8rem;
}

.nav-columns {
    column-width: 6em;
    column-gap: 1em;
    /* column-rule: 1px solid #ccc; */
}

.nav-columns ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}