body {
	padding: 1em;
	background-color: #E8E8E4;
	color: #191919;
	width: 40em;
}

h1 {
	letter-spacing: -0.1em;
}

h2 {
	font-size: 1.25em;
	letter-spacing: -0.1em;
}

p, li {
	line-height: 1.35;
}

pre {
	color: darkslategrey;
}

img.sticker {
	max-width: 30%;
}
