:root {
    --col-middle: 60ch;
    --gap-left: 3rem;
    --gap-right: 5rem;
    --col-left-share: 0.3;
    --col-remaining: calc(100% - var(--col-middle) - var(--gap-left) - var(--gap-right));

    --ink: #333;
    /* text color #e0511d */
    --light-ink: #999;
    --link: #3366cc;
    --bg: #fff;
    --bg-shaded: #e7e4e5;
    --snes-light: #d7d1d3;
    --snes-mid: #bbb9ba;
    --snes-dark: #828687
}

/* ======
   LAYOUT
   ====== */

/* overlay: does not affect grid placement */
.kicker {
    position: absolute;
    left: calc(var(--col-remaining) * var(--col-left-share));
    transform: translateX(-100%);
    max-width: 40ch;
}

/* the grid */
.layout {
    display: grid;
    position: relative;
    row-gap: 1.5rem;
    column-gap: 0;
    grid-auto-flow: row dense;
    align-content: start;

    grid-template-columns:
        [left-start] minmax(0, calc(var(--col-remaining) * var(--col-left-share))) [left-gap-start] var(--gap-left) [middle-start] var(--col-middle) [middle-end] var(--gap-right) [right-start] minmax(0, calc(var(--col-remaining) * (1 - var(--col-left-share)))) [right-end];
}

.page-header {
    display: grid;
    row-gap: 1.5rem;
    column-gap: 0;
    grid-template-columns:
        [left-start] minmax(0, calc(var(--col-remaining) * var(--col-left-share))) [left-gap-start] var(--gap-left) [middle-start] var(--col-middle) [middle-end] var(--gap-right) [right-start] minmax(0, calc(var(--col-remaining) * (1 - var(--col-left-share)))) [right-end];
}

.block {
    min-width: 0;
}

/* same spans as before */
.text {
    grid-column: middle-start / middle-end;
}

.side {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(var(--col-remaining) * (1 - var(--col-left-share)));
}

.wide {
    grid-column: middle-start / right-end;
}

.wide-alt {
    grid-column: left-start / middle-end;
}

.full {
    grid-column: left-start / right-end;
}

.wide-alt img {
    margin-left: auto;
}

.gallery {
    display: flex;
    gap: 1rem;
}

.gallery figure {
    flex: 1;
    min-width: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.page-title {
    grid-column: middle-start / middle-end;
    margin: 0 0 1rem 0;
}

/* TYPOGRAPHY */

body {
    padding: 5ch;
    color: var(--ink);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
}


/* collapse */
@media (max-width: 1200px) {
    .side {
        position: static;
        width: auto;
        grid-column: middle-start / middle-end;
    }
}

@media (max-width: 900px) {
    :root {
        --kicker-width: min(20vw, 12rem);
    }

    .kicker {
        position: absolute;
        left: calc(var(--kicker-width) + 1rem);
        transform: translateX(-100%);
        width: var(--kicker-width);
        max-width: none;
    }

    .layout {
        padding-left: calc(var(--kicker-width) + 1rem);
        grid-template-columns: 1fr;
    }

    .page-header {
        padding-left: calc(var(--kicker-width) + 1rem);
        padding-right: 0;
        grid-template-columns: 1fr;
        /* 
        display: grid;
        row-gap: 1.5rem;
        column-gap: 0; */
    }

    .page-title {
        grid-column: 1 / -1;
    }

    .block {
        grid-column: 1 / -1;
    }

/* .side { */
    /* grid-column: middle-start / middle-end; */
/* } */

    .gallery {
        flex-direction: column;
    }

    .gallery figure {
        width: 100%;
    }

    body {
        padding: 2ch;
        margin: 0;
    }

}

/* IMAGES */

figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

figcaption {
    margin: 0.45em 0 0 0;
    padding: 0;
    font-size: 0.9em;
    line-height: 1;
    color: var(--light-ink);
}


h1 {
    font-size: 1.15em;
    font-weight: normal;
    margin-bottom: 0;
}

h2 {
    font-size: 1.15em;
    padding-bottom: 0.25rem;
    margin: 3.5rem 0 1rem 0;
    font-weight: normal;
}

h3 {
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

/* paragraph after header */
h2+p {
    margin-top: 0.5em;
    /* padding-top: 0; */
}

h3+p {
    margin-top: 0.5em;
    /* padding-top: 0; */
}

.text>p:first-child {
    margin-top: 0;
}


a {
    color: var(--link);
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px dotted var(--ink);
    margin: 1em 0;
}

table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
    background-color: white;
}

th,
td {
    border: 1px solid #E8E8E4;
    padding: 0.5em;
    text-align: left;
}

code.purple {
    font-family: monospace;
    background-color: #cfd3ff;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

del {
    /* make the text 75% shade */
    color: var(--light-ink);
}

/* blockquote {
    border-left: 3px solid var(--ink);
    padding-left: 1em;
    margin-left: 0;
    margin-right: 0;
    color: var(--light-ink);
} */

blockquote {
    font-style: italic;
}

nav {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    gap: 1.5em 1em
}

nav h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
}

/* hover */
nav a:hover {
    text-decoration: underline;
}

.thickborder {
    border: 2px solid var(--ink);
    padding: 1em;
}

.thickborder p {
    padding: 0em;
}