.fret {
    text-align: right !important;
    min-width: 1.5em;
}

table td, table th{
    border: 1px solid black;
    padding: 0.4em;
}

.noborder td, .noborder th {
    border: none !important;
}

td.noborder, th.noborder {
    border: none !important;
}

.nut {
    border-right: 3px solid black; !important;
}

.chordnut {
    background-color: black;
    color: white;
}

table.fretboard {
    margin: 2em 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table.chord {
    border-collapse: collapse;
    text-align: center;
}

.fretted {
    background-color:violet;
}

.fret-opt {
    background-color: #ccc;
}

.highlight {
    color: red;
}