:root {
  --ink: #333;
  /* text color #e0511d */
  --light-ink: #999;
  --link: #3366cc;
  --bg: #fff;
  --gutter: 3rem;
  --aside: min(40ch, 38%);
  --prose: 65ch;
}

html {
  background-color: #ccc;
}

body {
  color: var(--ink);
  background-color: var(--bg);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
}

#header_eico {
  margin-left: -24px;
}

.wrapper {
  max-width: 40rem;
  padding: 3rem;
  margin-bottom: 2em;
}

@media (max-width: 820px) {

  .wrapper {
    margin: 2em 1em;
  }
}

.home-link a {
  width: 30%;
  text-decoration: none;
  font-size: 0.75rem
}

/* footer box */

footer {
  margin-top: 5em;
}

.stamp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.stamp {
  width: 3em;
  height: auto;
  margin-left: -0.25em;
}



/* old */

.roundbox {
  border: 1px dotted currentColor;
  border-left: none;
  border-radius: 5px;
  margin: 2em 0em 2em -5em;
  padding: 2em var(--gutter) 2em 5em;
}

.roundbox p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.roundbox p+p {
  margin-top: 1em;
  /* keeps normal spacing between paragraphs */
}
/* figures */

.fig {
  display: flex;
  gap: 1rem;
  margin: 2rem auto 3rem auto;
  /* max-width: 90%; */
  align-items: flex-end;
}

/* Default: caption beside image */
.fig img {
  max-width: 50%; /* non-full-width images */
  height: auto;
}

.fig figcaption {
  flex: 1;
  font-size: 0.9em;
  line-height: 1.3;
  /* font-style: italic; */
}

/* Alignment control */
.img-left {
  order: 0; /* image first, caption second */
  text-align: left;
}

.img-right {
  order: 1; /* caption first, image second */
  text-align: right;
}

.img-right + figcaption, figcaption.img-right {
  text-align: right; /* force right alignment when caption is on left */
  margin-bottom: 1em;
}

.img-left + figcaption, figcaption.img-left {
  text-align: left; /* force left alignment when caption is on right */
  margin-bottom: 1em;
}

/* If full-width: stack vertically */
.fig.full-width {
  flex-direction: column;
  text-align: left; /* default */
  gap: 0.5rem;
}

.fig.full-width img {
  width: 100%;
  max-width: 100%;
}

.fig.full-width figcaption {
  /* margin-top: 0.5rem; */
  align-self: flex-start; /* align to image edge */
}

/* Optional right-aligned caption under wide image */
.fig.full-width.right-caption figcaption {
  text-align: right;
  align-self: flex-end;
}



h1 {
  font-size: 1.15em;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  font-size: 1.15em;
  padding-bottom: 0.25rem;
  margin: 3.5rem 0 1rem 0;
  font-weight: normal;
}

h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

/* paragraph after header */
h2+p {
  margin-top: 0.5em;
  /* padding-top: 0; */
}

h3+p {
  margin-top: 0.5em;
  /* padding-top: 0; */
}


a {
  color: var(--link);
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px dotted var(--ink);
  margin: 1em 0;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
  width: 100%;
  background-color: white;
}

th,
td {
  border: 1px solid #E8E8E4;
  padding: 0.5em;
  text-align: left;
}

code.purple {
  font-family: monospace;
  background-color: #cfd3ff;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}


.baskervville-400 {
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}