:root {
  --ink: #333;
  /* text color #e0511d */
  --light-ink: #999;
  --bg: #fff;
  --gutter: 3rem;
  /* gap between prose and margin */
  --aside: min(40ch, 38%);
  /* width of the margin column */
  --prose: 65ch;
  /* max width of main text column */
}

html,
body {
  color: var(--ink);
  background: var(--bg);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
}

#header_eico {
  margin-left: -24px;
}

.wrapper {
  max-width: 40rem;
  margin: 2em;
  padding-inline: 1em;
}

@media (max-width: 820px) {

  .page-wrapper {
    margin: 2em 1em;
  }
}

.home-link a {
  width: 30%;
  text-decoration: none;
}

/* footer box */

footer {
  margin-top: 5em;
}

.stamp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.stamp {
  width: 3em;
  height: auto;
  margin-left: -0.25em;
}



/* old */

.roundbox {
  border: 1px solid currentColor;
  border-left: none;
  border-radius: 5px;
  margin: 2em 0em 2em -5em;
  padding: 2em var(--gutter) 2em 5em;
}

.roundbox p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.roundbox p+p {
  margin-top: 1em;
  /* keeps normal spacing between paragraphs */
}
/* figures */

.fig {
  display: flex;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 90%; /* overall figure width */
  align-items: flex-end;
}

/* Default: caption beside image */
.fig img {
  max-width: 50%; /* non-full-width images */
  height: auto;
}

.fig figcaption {
  flex: 1;
  font-size: 0.9em;
  line-height: 1.3;
  font-style: italic;
}

/* Alignment control */
.img-left {
  order: 0; /* image first, caption second */
  text-align: left;
}

.img-right {
  order: 1; /* caption first, image second */
  text-align: right;
}

.img-right + figcaption, figcaption.img-right {
  text-align: right; /* force right alignment when caption is on left */
}

/* If full-width: stack vertically */
.fig.full-width {
  flex-direction: column;
  text-align: left; /* default */
}

.fig.full-width img {
  width: 100%;
  max-width: 100%;
}

.fig.full-width figcaption {
  margin-top: 0.5rem;
  align-self: flex-start; /* align to image edge */
}

/* Optional right-aligned caption under wide image */
.fig.full-width.right-caption figcaption {
  text-align: right;
  align-self: flex-end;
}

/* figure {
  max-width: 100%;
  margin: 3em auto;
  text-align: left;
}

figure img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 60vh;
  object-fit: contain;
  height: auto;
  border-radius: 5px;
}

figcaption {
  max-width: 40ch;
  margin: 0.6em auto 0.6em auto;
  font-size: 0.9em;
  color: var(--light-ink);
  line-height: 1.3;
} */

h1 {
  font-size: 1.15em;
  font-weight: normal;
}

h2 {
  font-size: 1em;
  padding-bottom: 0.25em;
  margin: 3.5em 0 2em 0;
  border-bottom: 1px solid currentColor;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  display: inline;
  font-size: 1em;
  margin-right: 0.3em;
}

/* paragraph after header */
h2+p {
  margin-top: 0.5em;
  /* padding-top: 0; */
}

a {
  color: var(--ink);
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid var(--ink);
  margin: 1em 0;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
  width: 100%;
  background-color: white;
}

th,
td {
  border: 1px solid #E8E8E4;
  padding: 0.5em;
  text-align: left;
}

code.purple {
  font-family: monospace;
  background-color: #cfd3ff;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}


.baskervville-400 {
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}