body {
	padding: 1em;
}

table {
	border-collapse: collapse; 
}

td {
	min-width: 2em;
	padding: 0.25em;
	text-align: center;
	/* height: 1em; */
}

tr.week {
	border-top: 1px solid lightgrey;
}

tr.fortnight {
	border-top: 1px solid black;
}

th.daterow {
	vertical-align: top;
	font-weight: normal;
}


.sideways-text {
	writing-mode: vertical-lr;
	text-align: right;
	padding-bottom: 1em;
	/* transform: rotate(270deg); */
}