body {
  font-family: serif;
  margin: 4em;
  background-color: var(--bgcolor, #fffff9);
  /* background-color: #eee; */
  max-width: 40em;
  line-height: 1.4;
  color: var(--fgcolor, #66c);
}

/* p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-indent: 2em;
} */

blockquote {
  width: 60%;
  margin: 1.5em auto;
  text-align: center;
}

blockquote p {
  font-size: larger;
  /* margin-block-start: 1em;
  margin-block-end: 1em; */
  text-indent: 0em;
  font-style: italic;
}

a {
  text-decoration: dotted underline;
  color: var(--fgcolor, #66c);
}

a:hover {
  color: var(--bgcolor, #fffff9);
  /* text-decoration: dotted underline; */
  text-decoration: none;
  background-color: var(--fgcolor, #66c);
}

h1 {
  font-size: 2rem;
  width: 60%;
  line-height: 1;
  margin-bottom: 2em;
}

hr {
  border: none;
  border-top: 1.5px dotted var(--fgcolor, #66c);
  /* border-top: 1px solid #66c; */
  /* width: 60%; */
  margin: 2em auto;
}

figure {
  margin: 1em 0em 2em 0em
}

figcaption {
  font-style: italic;
  font-size: smaller;
}

img {
  width: 100%;
}

.toc {
  border: var(--fgcolor, #66c) 1px dotted;
  margin-bottom: 2em;
  /* width fits content */
  display: inline-block;
  padding: 1em;
}

.toc ul {
  margin-bottom: 0;
}

.toc ul {
  padding-inline-start: 1.5em;
}

.toc ul li {
  list-style-type: none;
  text-indent: -1.5em;
}

ul.nobullets {
  list-style-type: none;
  padding-inline-start: 0;
}